
* {
    box-sizing: border-box;
}

body, html {
    background: linear-gradient(237deg, #0b0a0c, rgb(47, 55, 59));
    margin: 0;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #222526;
    background: -moz-linear-gradient(-45deg, #171a1c 0%, #1b1a21 50%, #212121 100%);
    background: -webkit-linear-gradient(-45deg, #08080a 0%, #212121 50%, #1e1e1e 100%);
    background: linear-gradient(135deg, #1a1d1f 0%, #000000 50%, #484848 100%);
}

.appContainer {
    margin: auto;
    grid-template-rows: 0.5fr 2fr 0.6fr;
    width: 70%;
    height: 70%;
    margin-top: 7%;
    border: 1px solid black;
    border-radius: 6%;
    /*background: #a6b4b4;*/
    background: linear-gradient(237deg, #8a8b96, rgb(199, 199, 201));
    /*background: linear-gradient(237deg, #9faffd, rgb(134, 18, 18));*/
    /*border-radius: 5%;*/
    /*background: -moz-linear-gradient(-45deg, #0e5e93 0%, #7a69c7 50%, #144E75 100%);*/
    /*background: -webkit-linear-gradient(-45deg, #1c3ca4 0%, #48aef1 50%, #144E75 100%);*/
    /*background: linear-gradient(135deg, #4ca4f3 0%, #58daf1 50%, #4b65d3 100%);*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.playerBox {
    border: 2px solid rebeccapurple;
    width: 45%;
    height: 85%;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

.playerTitle {
    border: 2px solid green;
    grid-row: 1 / 1;
}
